{% extends 'base.html' %}
{% block content %}

<div class="card border-primary mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 1%;">
    <label for="colFormLabelLg" class="col-sm-5 col-form-label col-form-label-lg">Title</label>
    <div class="col-sm-12">
      <input type="email" class="form-control form-control-lg" id="colFormLabelLg">
    </div>
    <label for="colFormLabelLg" class="col-sm-5 col-form-label col-form-label-lg">Quotes</label>
    <div class="col-sm-12">
      <input type="email" class="form-control form-control-lg" id="colFormLabelLg" style="height: 97px;">
  </div><br>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary" style="margin-left:70%;  margin-bottom: 3%; height: 57px; width: 97px;">Submit</button>
  
  </div>
</div>
<div class="card border-primary mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Gemanel, Raina V.</div>
    <div class="card-body text-primary">
      <h5 class="card-title">LIFE</h5>
      <p class="card-text">“Life is full of happiness and tears; be strong and have faith.”</p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Gemanel, Raina V.</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Choice</h5>
      <p class="card-text">"𝘛𝘩𝘦 𝘤𝘩𝘰𝘪𝘤𝘦 𝘵𝘩𝘢𝘵 𝘩𝘶𝘳𝘵𝘴 𝘪𝘴 𝘵𝘩𝘦 𝘤𝘩𝘰𝘪𝘤𝘦 𝘵𝘩𝘢𝘵 𝘪𝘴 𝘳𝘪𝘨𝘩𝘵."
        Thank you for choosing to walk away. Thank you for leaving and choosing not to stay.</p>
    </div>
  </div>
  <div class="card border-success mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Gemanel, Raina V.</div>
    <div class="card-body text-success">
      <h5 class="card-title">Changed</h5>
      <p class="card-text">I have changed so many times to be liked, to be noticed, to be loved.
        I changed so much that I don't know who I am anymore.</p>
    </div>
  </div>
  <div class="card border-danger mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Gemanel, Raina V.</div>
    <div class="card-body text-danger">
      <h5 class="card-title">Better</h5>
      <p class="card-text">I was getting better, until I wasn't. I want to feel better but I can't.</p>
    </div>
  </div>
  <div class="card border-warning mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Gemanel, Raina V.</div>
    <div class="card-body">
      <h5 class="card-title">Love</h5>
      <p class="card-text">Being in love is one of the happiest instances you could ever feel throughout your life, it never gets old. Life is worthwhile when you spend it with the individual that gives you joy.</p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Gemanel, Raina V.</div>
    <div class="card-body">
      <h5 class="card-title">Pipiliin</h5>
      <p class="card-text">Pipiliin parin kita kahit minsan wala tayong oras sa isa't-isa.
        Pipiliin parin kita sa mga araw na ‘di tayo
        magkaintindihan.</p>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Gemanel, Raina V.</div>
    <div class="card-body">
      <h5 class="card-title">Lakas</h5>
      <p class="card-text">Hindi naman natin pipilitin na maging malakas kung walang bagay na nagpapahina o nagpapalungkot sa atin.</p>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Gemanel, Raina V.</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Laban</h5>
      <p class="card-text">May mga laban talaga tayong pinipili nating harapin nalang na mag isa. Nakakapagod. Nakakaubos. Pero kinakaya. </p>
    </div>
  </div>
{% endblock %}
</body>
</html>
